*.sh text eol=lf
gradlew text eol=lf
Dockerfile text eol=lf
*.cmd text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf

*.aar binary
*.jar binary
*.so binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdn binary
*.zip binary
